.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 15px;
}

.search-form {
  // padding: 15px 30px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.full-width {
  width: 100%;
}



.radio-group {
  display: block;
  padding: 10px 0;
}

.radio-button {
  margin-right: 10px;
}

