.search-form {
  // padding: 15px 30px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.radio-group {
  display: block;
  padding: 10px 0;
}

.radio-button {
  margin-right: 10px;
}

